<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="L'amore is modern and responsive wedding template.">
	<!-- change to title of your website -->
	<title>L'amore | Wedding Template</title>

	<!--===  FONTS ===-->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,700,700i" rel="stylesheet">

	<!--=== STYLES ===-->
	<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/vendors/slick.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<!--=== Top image and title ===-->
	<header>
		<div class="hero hero--small d-flex align-items-center justify-content-center" style="background-image: url('assets/img/hero-location.jpg')">
			<h1 class="hero__title u-font-script text-center" data-aos="zoom-in">when & where</h1>
		</div>
	</header>
	<!--== End of top image and title ==-->

	<!--=== Desktop navigation ===-->
	<div class="nav u-border-b-grey d-none d-md-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav-list">
						<li><a href="/" class="nav-list__link">Home</a></li>
						<li><a href="story.html" class="nav-list__link">Our Story</a></li>
						<li><a href="location.html" class="nav-list__link nav-list__link--active">When & Where</a></li>
						<li><a href="memories.html" class="nav-list__link">Memories</a></li>
						<li><a href="rsvp.html" class="nav-list__link">RSVP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--== End of desktop navigation ==-->

	<!--=== Mobile navigation ===-->
	<div class="mobile-nav d-md-none">
		<div class="mobile-nav__trigger">
			<a href="#" class="js-open-menu"><ion-icon name="menu" class="icon icon--md icon--white"></ion-icon></a>
		</div>
		<ul class="mobile-nav-list js-menu">
			<li><a href="/" class="mobile-nav-list__link">Home</a></li>
			<li><a href="story.html" class="mobile-nav-list__link">Our Story</a></li>
			<li><a href="location.html" class="mobile-nav-list__link mobile-nav-list__link--active">When & Where</a></li>
			<li><a href="memories.html" class="mobile-nav-list__link">Memories</a></li>
			<li><a href="rsvp.html" class="mobile-nav-list__link">RSVP</a></li>
		</ul>
	</div>
	<!--== End of mobile navigation ==-->

	<!--=== Location Info ===-->
	<section class="location" id="location">
		<div class="container">
			<div class="row">
				<!-- Location: left column -->
				<div class="col-md-6">
					<div class="location__text location__text--sm u-bg-grey ml-auto u-m-b-3" data-aos="zoom-in-right">
						<h6 class="text-uppercase">Wedding Ceremony - 17:00</h6>
						<h3>Church of St.Willow</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="assets/img/location1.jpg" class="location__img location__img--sm ml-auto" data-aos="zoom-in-right" alt="Location">
					<img src="assets/img/location2.jpg" class="location__img" alt="Location" data-aos="zoom-in-right">
				</div>

				<!-- Location: right column -->
				<div class="col-md-6">
					<img src="assets/img/location3.jpg" class="location__img location__img--sm" alt="Location" data-aos="zoom-in-left">
					<div class="location__text location__text--sm u-bg-grey" data-aos="zoom-in-left">
						<h6 class="text-uppercase">Wedding Party - 19:00</h6>
						<h3>Oak Park</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--== End of location info. ==-->

	<!--=== Footer ===-->
	<footer class="footer u-bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<h2 class="u-font-script">thank <ion-icon name="heart" class="icon icon--md icon--primary animation-pulse"></ion-icon> you!</h2>
						<ul class="footer__social">
							<!-- set your social profiles URL inside href="link to your profile" -->
							<li><a href="#"><ion-icon name="logo-instagram" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-facebook" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-youtube" class="icon icon--sm icon--black"></ion-icon></a></li>
						</ul>
						<p class="footer__copy">All rights reserved &copy; 2018</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--== End of footer ==-->


<!--===  SCRIPTS ===-->
<script src="assets/js/vendors/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendors/bootstrap.min.js"></script>
<script src="assets/js/vendors/jquery.countdown.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="assets/js/vendors/slick.min.js"></script>
<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>
