<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="L'amore is modern and responsive wedding template.">
	<!-- change to title of your website -->
	<title>L'amore | Wedding Template</title>

	<!--===  FONTS ===-->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,700,700i" rel="stylesheet">

	<!--=== STYLES ===-->
	<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/vendors/slick.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<!--=== Top image and title ===-->
	<header>
		<div class="hero d-flex align-items-center justify-content-center" style="background-image: url('assets/img/hero.jpg')">
			<div class="hero-icons">
				<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse" id="hero-icon-1"></ion-icon>
				<ion-icon name="heart" class="icon icon--md icon--white animation-pulse" id="hero-icon-2"></ion-icon>
				<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse" id="hero-icon-3"></ion-icon>
				<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse" id="hero-icon-4"></ion-icon>
				<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse" id="hero-icon-5"></ion-icon>
				<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse" id="hero-icon-6"></ion-icon>
				<ion-icon name="heart" class="icon icon--md icon--white animation-pulse" id="hero-icon-7"></ion-icon>
				<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse" id="hero-icon-8"></ion-icon>
			</div>
			<div class="text-center">
				<img src="assets/img/wreath-white.svg" class="hero__wreath hero__wreath--up"  alt="Sarah and Mike" />
				<h1 class="hero__title u-font-script" data-aos="zoom-in">Sarah  &  Mike</h1>
				<p class="hero__date" data-aos="zoom-in" data-aos-delay="400">March 16, 2019</p>
				<img src="assets/img/wreath-white.svg" class="hero__wreath hero__wreath--down" alt="Sarah and Mike"/>
			</div>
		</div>
	</header>
	<!--== End of top image and title ==-->

	<!--=== Desktop navigation ===-->
	<div class="nav u-border-b-grey d-none d-md-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav-list">
						<li><a href="/" class="nav-list__link nav-list__link--active ">Home</a></li>
						<li><a href="story.html" class="nav-list__link">Our Story</a></li>
						<li><a href="location.html" class="nav-list__link">When & Where</a></li>
						<li><a href="memories.html" class="nav-list__link">Memories</a></li>
						<li><a href="rsvp.html" class="nav-list__link">RSVP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--== End of desktop navigation ==-->

	<!--=== Mobile navigation ===-->
	<div class="mobile-nav d-md-none">
		<div class="mobile-nav__trigger">
			<a href="#" class="js-open-menu"><ion-icon name="menu" class="icon icon--md icon--white"></ion-icon></a>
		</div>
		<ul class="mobile-nav-list js-menu">
			<li><a href="/" class="mobile-nav-list__link mobile-nav-list__link--active">Home</a></li>
			<li><a href="story.html" class="mobile-nav-list__link">Our Story</a></li>
			<li><a href="location.html" class="mobile-nav-list__link">When & Where</a></li>
			<li><a href="memories.html" class="mobile-nav-list__link">Memories</a></li>
			<li><a href="rsvp.html" class="mobile-nav-list__link">RSVP</a></li>
		</ul>
	</div>
	<!--== End of mobile navigation ==-->

	<!--=== Intro: About bride & groom. Counter. ===-->
	<div class="intro" id="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="u-m-b-5 text-center u-font-script">we are <br>counting down!</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="intro-content d-lg-flex">
						<div class="intro-content__col">
							<div class="intro-content__img" style="background-image:url('assets/img/bride.jpg');"></div>
							<div class="intro-content__text u-bg-primary d-flex align-items-center">
								<div>
									<h4>About Sarah</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<ion-icon name="heart" class="icon icon--xl icon--white"></ion-icon>
						<div class="intro-content__col">
							<div class="intro-content__img" style="background-image:url('assets/img/groom.jpg');"></div>
							<div class="intro-content__text u-bg-grey d-flex align-items-center">
								<div>
									<h4>About Mike</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
					<!-- Counter. Set your date here as data-date="yyyy/mm/dd" -->
					<ul class="counter-list js-counter clearfix" data-date="2019/03/16">
						<li class="counter-list__item">
							<span class="js-counter-days">124</span>
							<p>days</p>
							<ion-icon name="heart" class="icon icon--sm icon--primary"></ion-icon>
						</li>
						<li class="counter-list__item">
							<span class="js-counter-hours">20</span>
							<p>hours</p>
							<ion-icon name="heart" class="icon icon--sm icon--primary"></ion-icon>
						</li>
						<li class="counter-list__item">
							<span class="js-counter-minutes">30</span>
							<p>minutes</p>
							<ion-icon name="heart" class="icon icon--sm icon--primary"></ion-icon>
						</li>
						<li class="counter-list__item">
							<span class="js-counter-seconds">50</span>
							<p>seconds</p>
						</li>
					</ul>
					<!-- end of counter -->
				</div>
			</div>
		</div>
	</div>
	<!--== End of intro section. ==-->


	<!--=== Qoute ===-->
	<section class="quote u-bg-grey u-m-t-n-3">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<h3 class="quote__text font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h3>
				</div>
			</div>
		</div>
	</section>
	<!--== End of quote. ==-->

	<!--=== Bridesmaids & Groomsmen ===-->
	<section class="friends" id="friends">
		<h2 class="u-font-script text-center u-m-b-5">our friends</h2>
		<ul class="slider-list js-slider">
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Rachel Brown" />
				<p class="font-weight-bold">Rachel Brown</p>
				<p>bridesmaid</p>
			</li>
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Chiara Morin" />
				<p class="font-weight-bold">Chiara Morin</p>
				<p>bridesmaid</p>
			</li>
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Lindsay Floyd" />
				<p class="font-weight-bold">Lindsay Floyd</p>
				<p>bridesmaid</p>
			</li>
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Elly Beck" />
				<p class="font-weight-bold">Elly Beck</p>
				<p>bridesmaid</p>
			</li>
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Jarrad Hoffman" />
				<p class="font-weight-bold">Jarrad Hoffman</p>
				<p>groomsman</p>
			</li>
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Arthur Keller" />
				<p class="font-weight-bold">Arthur Keller</p>
				<p>groomsman</p>
			</li>
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Alex Hiles" />
				<p class="font-weight-bold">Alex Hiles</p>
				<p>groomsman</p>
			</li>
			<li class="slider-list__item js-slide">
				<img src="assets/img/friend.jpg" alt="Jaimie Clements" />
				<p class="font-weight-bold">Jaimie Clements</p>
				<p>groomsman</p>
			</li>
		</ul>
		<div class="d-none d-lg-flex slider-arrows js-slider-arrows">
			<span class="slider-arrow js-arrow-prev">
				<svg width="40" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><path fill="none" d="M5 10L1 5l4-5M40 5H1.5"/></svg>
			</span>
			<ion-icon name="heart" class="icon icon--sm icon--primary"></ion-icon>
			<span class="slider-arrow js-arrow-next">
				<svg width="40" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 10"><path fill="none" d="M36 0l4 5-4 5M1 5h38.5"/></svg>
			</span>
		</div>
	</section>
	<!--== End of bridesmaids & groomsmen. ==-->

	<!--=== RSVP form ===-->
	<section class="rsvp" id="rsvp">
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="rsvp-box u-bg-white">
						<div class="js-form-wrapper">
							<div class="text-center">
								<h3 class="rsvp-box__title u-font-script">be our guest!</h3>
								<p class="rsvp-box__subtitle">Please confirm your arrival by <mark class="font-weight-bold">February 14, 2019</mark></p>
							</div>
							<form method="POST" class="rsvp-form js-form" id="rsvp-form" action="php/rsvp.php">
								<div class="d-md-flex justify-content-between">
									<div class="rsvp-form__left">
										<div class="rsvp-form-field">
											<input type="text" name="fullname" placeholder="Full Name" required>
										</div>
										<div class="rsvp-form-field">
											<input type="email" name="email" placeholder="Your E-mail" class="js-email" required>
											<p class="rsvp-form-field__error js-email-error">E-mail is incorrect.</p>
										</div>
										<div class="rsvp-form-field">
											<input type="number" name="guests" placeholder="Number of guests" required>
										</div>
										<div class="rsvp-form-field">
											<select name="attending" required>
												<option value="" disabled selected>You are attending?</option>
												<option value="all">All</option>
												<option value="ceremony">Ceremony</option>
												<option value="party">Dinner & Party</option>
											</select>
										</div>
									</div>
									<div class="rsvp-form__right">
										<div class="rsvp-form-field h-100">
											<textarea rows="4" placeholder="Your Message" class="h-100" name="message"></textarea>
										</div>
									</div>
								</div>
								<button type="submit" class="rsvp-form-submit js-submit">
									<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse"></ion-icon>
									<span>Send</span>
									<ion-icon name="heart" class="icon icon--md icon--white animation-pulse"></ion-icon>
								</button>
							</form>
						</div>
						<!-- this message appears after rsvp-form is submitted correctly -->
						<div class="rsvp-confirmation text-center js-form-confirmation">
							<h4>We recieved your reservation.</h4>
							<span class="u-font-script u-h3">thank you!</span>
							<ion-icon name="heart" class="icon icon--md icon--primary"></ion-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--== End of RSVP rsvp-form. ==-->

	<!--=== Footer ===-->
	<footer class="footer u-bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<h2 class="u-font-script">thank <ion-icon name="heart" class="icon icon--md icon--primary animation-pulse"></ion-icon> you!</h2>
						<ul class="footer__social">
							<!-- set your social profiles URL inside href="link to your profile" -->
							<li><a href="#"><ion-icon name="logo-instagram" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-facebook" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-youtube" class="icon icon--sm icon--black"></ion-icon></a></li>
						</ul>
						<p class="footer__copy">All rights reserved &copy; 2018</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--== End of footer ==-->


<!--===  SCRIPTS ===-->
<script src="assets/js/vendors/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendors/bootstrap.min.js"></script>
<script src="assets/js/vendors/jquery.countdown.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="assets/js/vendors/slick.min.js"></script>
<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>
