<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="L'amore is modern and responsive wedding template.">
	<!-- change to title of your website -->
	<title>L'amore | Wedding Template</title>

	<!--===  FONTS ===-->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,700,700i" rel="stylesheet">

	<!--=== STYLES ===-->
	<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/vendors/slick.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<!--=== Top image and title ===-->
	<header>
		<div class="hero hero--small d-flex align-items-center justify-content-center" style="background-image: url('assets/img/hero-memories.jpg')">
			<h1 class="hero__title u-font-script text-center" data-aos="zoom-in">our memories</h1>
		</div>
	</header>
	<!--== End of top image and title ==-->

	<!--=== Desktop navigation ===-->
	<div class="nav u-border-b-grey d-none d-md-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav-list">
						<li><a href="/" class="nav-list__link">Home</a></li>
						<li><a href="story.html" class="nav-list__link">Our Story</a></li>
						<li><a href="location.html" class="nav-list__link">When & Where</a></li>
						<li><a href="memories.html" class="nav-list__link nav-list__link--active">Memories</a></li>
						<li><a href="rsvp.html" class="nav-list__link">RSVP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--== End of desktop navigation ==-->

	<!--=== Mobile navigation ===-->
	<div class="mobile-nav d-md-none">
		<div class="mobile-nav__trigger">
			<a href="#" class="js-open-menu"><ion-icon name="menu" class="icon icon--md icon--white"></ion-icon></a>
		</div>
		<ul class="mobile-nav-list js-menu">
			<li><a href="/" class="mobile-nav-list__link">Home</a></li>
			<li><a href="story.html" class="mobile-nav-list__link">Our Story</a></li>
			<li><a href="location.html" class="mobile-nav-list__link">When & Where</a></li>
			<li><a href="memories.html" class="mobile-nav-list__link mobile-nav-list__link--active">Memories</a></li>
			<li><a href="rsvp.html" class="mobile-nav-list__link">RSVP</a></li>
		</ul>
	</div>
	<!--== End of mobile navigation ==-->

	<!--=== Memories ===-->
	<section class="memories">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center u-m-t-n-3">
						<ion-icon name="heart" class="icon icon--sm icon--primary animation-pulse"></ion-icon>
						<ion-icon name="heart" class="icon icon--md icon--primary animation-pulse"></ion-icon>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class=" grid">
						<div class="grid-sizer"></div>
						<div class="gutter-sizer"></div>
						<div class="grid-item">
							<img src="assets/img/memories/memory1.jpg" class="memories__img" alt="memory1"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory2.jpg" class="memories__img" alt="memory2"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory3.jpg" class="memories__img" alt="memory3"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory4.jpg" class="memories__img" alt="memory4"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory5.jpg" class="memories__img" alt="memory5"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory6.jpg" class="memories__img" alt="memory6"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory7.jpg" class="memories__img" alt="memory7"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory8.jpg" class="memories__img" alt="memory8"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory9.jpg" class="memories__img" alt="memory9"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory10.jpg" class="memories__img" alt="memory10"/>
						</div>
						<div class="grid-item">
							<img src="assets/img/memories/memory11.jpg" class="memories__img" alt="memory11"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--== End of memories ==-->

	<!--=== Footer ===-->
	<footer class="footer u-bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<h2 class="u-font-script">thank <ion-icon name="heart" class="icon icon--md icon--primary animation-pulse"></ion-icon> you!</h2>
						<ul class="footer__social">
							<!-- set your social profiles URL inside href="link to your profile" -->
							<li><a href="#"><ion-icon name="logo-instagram" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-facebook" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-youtube" class="icon icon--sm icon--black"></ion-icon></a></li>
						</ul>
						<p class="footer__copy">All rights reserved &copy; 2018</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--== End of footer ==-->


<!--===  SCRIPTS ===-->
<script src="assets/js/vendors/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendors/bootstrap.min.js"></script>
<script src="assets/js/vendors/jquery.countdown.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="assets/js/vendors/slick.min.js"></script>
<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>
