<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="L'amore is modern and responsive wedding template.">
	<!-- change to title of your website -->
	<title>L'amore | Wedding Template</title>

	<!--===  FONTS ===-->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,700,700i" rel="stylesheet">

	<!--=== STYLES ===-->
	<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/vendors/slick.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<!--=== Top image and title ===-->
	<header>
		<div class="hero hero--small d-flex align-items-center justify-content-center" style="background-image: url('assets/img/hero-rsvp.jpg')">
			<h1 class="hero__title u-font-script text-center" data-aos="zoom-in">be our guest!</h1>
		</div>
	</header>
	<!--== End of top image and title ==-->

	<!--=== Desktop navigation ===-->
	<div class="nav u-border-b-grey d-none d-md-block">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav-list">
						<li><a href="/" class="nav-list__link">Home</a></li>
						<li><a href="story.html" class="nav-list__link">Our Story</a></li>
						<li><a href="location.html" class="nav-list__link">When & Where</a></li>
						<li><a href="memories.html" class="nav-list__link">Memories</a></li>
						<li><a href="rsvp.html" class="nav-list__link nav-list__link--active">RSVP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--== End of desktop navigation ==-->

	<!--=== Mobile navigation ===-->
	<div class="mobile-nav d-md-none">
		<div class="mobile-nav__trigger">
			<a href="#" class="js-open-menu"><ion-icon name="menu" class="icon icon--md icon--white"></ion-icon></a>
		</div>
		<ul class="mobile-nav-list js-menu">
			<li><a href="/" class="mobile-nav-list__link">Home</a></li>
			<li><a href="story.html" class="mobile-nav-list__link">Our Story</a></li>
			<li><a href="location.html" class="mobile-nav-list__link">When & Where</a></li>
			<li><a href="memories.html" class="mobile-nav-list__link">Memories</a></li>
			<li><a href="rsvp.html" class="mobile-nav-list__link mobile-nav-list__link--active">RSVP</a></li>
		</ul>
	</div>
	<!--== End of mobile navigation ==-->

	<!--=== RSVP form ===-->
	<section class="rsvp rsvp--solid u-bg-white" id="rsvp">
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="rsvp-box u-bg-white">
						<div class="js-form-wrapper">
							<div class="text-center">
								<ion-icon name="heart" class="icon icon--sm icon--primary animation-pulse"></ion-icon>
								<p class="rsvp-box__subtitle">Please confirm your arrival by <mark class="font-weight-bold">February 14, 2019</mark></p>
							</div>
							<form method="POST" class="rsvp-form rsvp-form--v2 js-form" id="rsvp-form" action="php/rsvp.php">
								<div class="d-md-flex justify-content-between">
									<div class="rsvp-form__left">
										<div class="rsvp-form-field">
											<input type="text" name="fullname" placeholder="Full Name" required>
										</div>
										<div class="rsvp-form-field">
											<input type="email" name="email" placeholder="Your E-mail" class="js-email" required>
											<p class="rsvp-form-field__error js-email-error">E-mail is incorrect.</p>
										</div>
										<div class="rsvp-form-field">
											<input type="number" name="guests" placeholder="Number of guests" required>
										</div>
										<div class="rsvp-form-field">
											<select name="attending" required>
												<option value="" disabled selected>You are attending?</option>
												<option value="all">All</option>
												<option value="ceremony">Ceremony</option>
												<option value="party">Dinner & Party</option>
											</select>
										</div>
									</div>
									<div class="rsvp-form__right">
										<div class="rsvp-form-field h-100">
											<textarea rows="4" placeholder="Your Message" class="h-100" name="message"></textarea>
										</div>
									</div>
								</div>
								<button type="submit" class="rsvp-form-submit position-relative js-submit">
									<ion-icon name="heart" class="icon icon--sm icon--white animation-pulse"></ion-icon>
									<span>Send</span>
									<ion-icon name="heart" class="icon icon--md icon--white animation-pulse"></ion-icon>
								</button>
							</form>
						</div>
						<!-- this message appears after rsvp-form is submitted correctly -->
						<div class="rsvp-confirmation text-center js-form-confirmation">
							<h4>We recieved your reservation.</h4>
							<span class="u-font-script u-h3">thank you!</span>
							<ion-icon name="heart" class="icon icon--md icon--primary"></ion-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--== End of RSVP rsvp-form. ==-->

	<!--=== Footer ===-->
	<footer class="footer u-bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<h2 class="u-font-script">thank <ion-icon name="heart" class="icon icon--md icon--primary animation-pulse"></ion-icon> you!</h2>
						<ul class="footer__social">
							<!-- set your social profiles URL inside href="link to your profile" -->
							<li><a href="#"><ion-icon name="logo-instagram" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-facebook" class="icon icon--sm icon--black"></ion-icon></a></li>
							<li><a href="#"><ion-icon name="logo-youtube" class="icon icon--sm icon--black"></ion-icon></a></li>
						</ul>
						<p class="footer__copy">All rights reserved &copy; 2018</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--== End of footer ==-->


<!--===  SCRIPTS ===-->
<script src="assets/js/vendors/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendors/bootstrap.min.js"></script>
<script src="assets/js/vendors/jquery.countdown.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="assets/js/vendors/slick.min.js"></script>
<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>
